

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.menu-principal {  
    width: 100%; 
    background-color: #661818;
    height: 70px;
    
}
main, .content{
    margin: 0 auto;
    width: 800px;
    
    position: relative;
    
}

.logo{
    float: left;
    padding: 16px;
    width: 60%;
}
.redes-sociais ul li{
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;


}
.redes-sociais{
    width: 30%;
  float:right;
}
.header2{
    background-color: #ffffff;
    width: 900px;
    margin: 0 auto;
    padding: 15px;
    
    
    }
   
   

.menu-url{
  
    height: 80px;
    border-bottom: 3px solid #efefef;

}


.menu ul li {
   display: inline-block;
    color: #646161;
    margin-left: 15px;
    height: 50px;
    
    position: relative;
    
   

}
.menu ul li:hover{
    border-bottom:3px solid #00bac6 ;
  
}

.menu ul li a:hover{
    color: #00bac6;
  
    
}
.menu ul ul li {
    width: 300px;
    height: 20px;
   

}

.menu ul ul li a{
    
    height: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menu ul li a{
    
     color: #8b8b8b;
     text-decoration: none;
     font-size: 18px;
     text-transform: uppercase;
 
 }
 .menu{
     width: 70%;
     float: left;
 }

.menu ul ul {
    
   
    display: none;
    position: absolute;
    z-index: 1;
    left: -20px;
    padding: 35px 1px;
    
}
.menu ul ul a:hover{
    color: yellowgreen;
    

}
.menu ul ul li:hover{
    border-bottom:0px solid #00bac6 ;
}
.menu ul ul a{
    
    color:black;
}
.menu ul li:hover > ul{
    display: block;
}

 .busca{
     
     width: 30%;
     float: right;
 }
 .busca input {
    
     z-index: 2;
     background-image: url('../img/pesquisa.png');
     background-repeat: no-repeat;
     background-position: 96%;
     border: 1px solid #6d6d6d;
     padding: 12px;
 margin-top: -10px;    
 height: 26px;
 width: 160px;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev{
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 9;
    background: transparent;
    background-image: url('../img/esquerda.png');
    position: absolute;
    top: 50%;
left: 0;
cursor: pointer;
}
button.slick-next{
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 9;
    background: transparent;
    background-image: url('../img/direita.png');
    position: absolute;
    top: 50%;
right: 0;
cursor: pointer;
}



.slick-initialized{
    overflow: hidden;
    
}
.slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.slick-dots  {
    margin: 0px auto;
    width: 50%;
    
    position: absolute;
    left: 41%;
    top: 300px;

}
.slick-dots li {
    padding-left: 10px;
    display:inline-block
}
li.slick-active button{
    background-color: #00bac6;
}
.slider-principal img{
    width: 960px;
    height: 360px;
}
.texto-destaque h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #818181;

}
.texto-destaque strong {
    color: #646464;

}


.texto-destaque p {

   text-align: center;

}

.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;

}
.hz h1{
    color: #755c5c;
    font-size: 20px;
    text-transform: uppercase;
   margin-left: 26%;
   position: relative;
   top:0px;
   width: 50%;
}
.hz hr{
    width: 50%;
    margin-right: 50%;
    
}

.pl #k{
    width: 39.5%;
   
    margin-left: 60%;
    position: relative;
    top: -322px;
}
.pl iframe{
    width: 529px;
    height: 300px;
    margin-left: 60%;
    position: relative;
    top: -321px;
    border: none;
}
.tla{
    background-color: rgb(99, 7, 4);
    margin: auto;
    width: 100%;
      height: 300px;
      
     
}
.rodape{
    width: 100%;
    height: 70px;
    
   
}

.rodape img{
    
    width: 16%;
    height: 150%;
margin-left: 7%;


 }
 .rodape h1{
   margin-left: 25%;
  

 }
 .rodape #kl{
    margin-left: 40%;
   position: relative;
   top: 57px;
 
  }

 
 
  .rodape ul li{
    display: block;
    margin-left: 23%;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    
    position: relative;
 font-size: 20px;
    color: #646161;
   
    height: 30px;
  margin-top: -5%;
   
 
  }
  
 
.rodape  ul a{
   text-decoration: none;
    color:  #646161;
    margin-left: 20%;
    position: relative;
    top: 71px;


}
